.select-css {
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  height: 30px;
  color: #FFFAFA;
  padding: 2px;
  margin: 0;
  border-radius: 10px;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  background-color: #333333;
  
}
.select_wrapper{
    height: 30px;
    width: 20%;
    margin: 0;
}

.select-css:focus {
  border-color: #aaa;
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: white;
  outline: none;
}
.select-css option {
  font-weight: normal;
  font-size: 15px;
  padding: 10px;
  
}



