.header {
  position: fixed;
  height: 50px;
  width: 1000px;
  margin: -5px 15px 10px 10px;
  border-radius: 0 0 15px 15px;
  background-color: #261b1b;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.store-name {
  margin: 0.5em;
  font-size: 22px;
  font-family: "Bebas Neue", cursive;
  display: flex;
  color: white;
}
.cart {
  margin: 0.6em;
}
img {
  margin-top: -3px;
  max-width: 100%;
  max-height: 120%;
}
.store_icons:hover {
  transform: rotate(15deg);
  cursor: pointer;
}
.basket_button {
  cursor: pointer;
}
.CardCounter {
  color: white;
  margin: auto;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-right: 15px;
  font-weight: bold;
}
.InfoBasket {
  color: black;
  font-weight: bold;
}
.EmptyBasket {
  position: absolute;
  top: 40%;
  left: 12%;
  text-align: center;
  width: 350px;
}
.empty {
  font-size: 28px;
  font-weight: bold;
}
.empty2 {
  font-size: 15px;
  width: 200px;
  width: 100%;
  font-weight: bolder;
}
.Counter_Price {
  display: flex;
  font-size: 17px;
  height: 20px;
  border-radius: 25px;
  width: 100%;
  align-items: center;
  margin: auto;
  margin-bottom: 10px;
  margin-left: 20px;
  
}
.Basket {
  justify-content: space-between;
}
.Modal_wrapper{
  height: 100%;
  width: 100%;

}
